<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <div id="app">
    <ul>
      <li v-for="val,key in arr">
        <p>  {{key}} </p>
        <span>{{val.name}}说:</span>
        <span>我芳龄：{{val.age}}</span>
      </li>
      
      <!-- <li v-for="val,index in arr">
        {{index}}
        {{val.name}}
      </li> -->
      
      <!-- <li v-for="val,key in obj">
        {{key}} : {{val}}
      </li> -->
      
    </ul>
  </div>
<script src="src/vue.js" charset="utf-8"></script>
<script type="text/javascript">
  /*
      v-for:
        循环，是放在结构中的指令。
      
      v-for="key in 要遍历的数据"
      
      v-for="val,key in 要遍历的数据"
      
      val在数组中为每个数据，在对象中为val值。
      key：{在数组中为index，在对象中为key}
        
        
   */
  let arr = [
    {
      name:'付强',
      age:90
    },
    {
      name:'老王',
      age:1000
    }
  ];
  
  let obj = {
    name:'付强'
  }
  
  var v = new Vue({
    el:'#app',
    data:{
      name:'你好!世界!',
      arr,
      obj
    }
  });
  
  // v代表vue的实例化对象，data中的数据都会在这个对象上展示出来
  // data:{}专门才初始化某个（些）数据的。
  setTimeout(function(){
    v.arr.push({
      name:'leo',
      age:2000
    });
  },2000);
  console.log(v);
   
  
 
</script>
</body>
</html>