<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <style>
    #ppa{
      width: 100px;
      height: 100px;
      border: 1px solid #000;
    }
  </style>
</head>
<body>
  <div id="app">
    <input type="checkbox" v-model="arr" value="老大"/>
    <input type="checkbox" v-model="arr" value="隔壁老王"/>
    <input type="checkbox" v-model="arr" value="小朋友"/>
    {{arr}}
  </div>
<script src="../src/vue.js" charset="utf-8"></script>
<script type="text/javascript">
  new Vue({
    el:'#app',
    data:{
      arr:[]
    }
  })
</script>
</body>
</html>