<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <div class="app">
    <input
      type="text"
      v-model="val"
      @keyup.13="keyup"
    />
    <div style="width:100px;height:100px;background:red" ref="div" @click="refs"></div>
    <ul>
      <li v-for="val,key in arr" >
        <input type="checkbox" v-model="val.checked"/>
        <span>{{val.title}}</span>
      </li>
    </ul>
  </div>
<script src="src/vue.js" type="text/javascript"></script>
<script type="text/javascript">
  /*
    watch:当数据发生变化的时候，可以作为一个监听，监听现在已经更新的数据，以及老的数据。
    computed:只能拿到数据改变之后的值，而watch可以监听得到新、旧数据的值。
      
  */
  let v = new Vue({
    el:'.app',
    data:{
      val:'',
      arr:getItem()
    },
    methods:{
      keyup(){
        this.arr.push({
          title:this.val,
          checked:false,
          id:+new Date
        });
        this.val = '';
      },
      refs(){
        /*
          this.state.refs.xxx获取ref为div的元素
          快速查找指定元素
        */
        console.log(this.$refs.div);
      }
    },
    watch:{
      arr:{
        handler(newVal,oldVal){
            setItem(  this.arr );
            // console.log(newVal,oldVal);
        },
        deep: true
      }
    }
  });
  
  //当arr被修改的时候会触发watch,能够得到最新的数据和修改之前的数据。
  // setTimeout(function(){
  //   v.arr = [];
  // },3000)
  
  
  function getItem(){
    return JSON.parse(localStorage.getItem('num')||'[]');
  }
  
  function setItem(arr){
    // console.log(1);
    localStorage.setItem('num',JSON.stringify(arr));
  }
  
 
</script>
</body>
</html>