<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vue-demo</title>
  <style>

  #div1{
    width:100px;
    height: 100px;
    background: green;
  }
  #div2{
    width:100px;
    height: 100px;
    background:skyblue;
  }
  #div3{
    width:100px;
    height: 100px;
    background:pink;
  }
  </style>
</head>
<body>
  <!-- if -->
  <div id="app1">
    <button v-on:click="onOff = !onOff">点击</button>
    <div id="div1" v-if="onOff">DIV1</div>
  </div>

  <br/>
  <!-- if else -->
  <div id="app2">
    <div id="div1" v-if="onOff"></div>
    <div id="div2" v-else>DIV2</div>
  </div>

  <br/>
  <!-- else if -->
  <div id="app3">
    <button @click="click">a</button>
    <button @click="click">b</button>
    <button @click="click">c</button>
    <div id="div1" v-if="onOff == 'a'">DIV3</div>
    <div id="div2" v-else-if="onOff == 'b'">DIV3</div>
    <div id="div3" v-else>DIV3</div>
  </div>

  <br/>
  <!-- show -->
  <div id="app4">
    <button @click="click">a</button>
    <button @click="click">b</button>
    <button @click="click">c</button>
    <div id="div1" v-show="onOff == 'a'">DIV4</div>
    <div id="div2" v-show="onOff == 'b'">DIV4</div>
    <div id="div3" v-show="onOff == 'c'">DIV4</div>
  </div>

  <script src="../../src/vue.js"></script>
  <script>
    // if
    let v1 = new Vue({
      el:'#app1',
      data:{
        onOff:false
      }
    })

    // if else
    let v2 = new Vue({
      el:'#app2',
      data:{
        onOff:false
      }
    })

    // else if
    let v3 = new Vue({
      el:'#app3',
      data:{
        onOff:'a'
      },
      methods:{
        click(e){
          this.onOff = e.target.innerText;
        }
      }
    })

    // show
    let v4 = new Vue({
      el:'#app4',
      data:{
        onOff:'a'
      },
      methods:{
        click(e){
          this.onOff = e.target.innerText;
        }
      }
    })

  </script>
</body>
</html>