<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vue-demo</title>
</head>
<body>

  <!-- Array -->
  <div id="app1">
    <ul>
      <li v-for="(item,index) in arr">
        <p>The {{index}}  person:{{item.name}},{{item.age}}</p>
      </li>
    </ul>
  </div>

  <div style="border:1px solid #000"></div>

  <!-- Object -->
    <div id="app2">
    <ul>
      <li v-for="val,key in obj">
        <span>{{key}}:{{val}}</span>
      </li>
    </ul>
  </div>

  <!-- <div v-for="(item, index) in items"></div>
  <div v-for="(val, key) in object"></div>
  <div v-for="(val, key, index) in object"></div> -->

  <script src="../../src/vue.js"></script>
  <script>



  let v1 = new Vue({
    el:'#app1',
    data:{
      arr:[
        {
          name:'Amy',
          age:15
        },
        {
          name:'Jex',
          age:18
        },
        {
          name:'Irene',
          age:20
        }
      ]
    }
  })

  let v2 = new Vue({
    el:'#app2',
    data:{
      obj:{
        name:'Jay',
        age:26,
        sex:'female',
        work:'singer',
      }
    }
  })

  </script>
</body>
</html>