<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vue-demo</title>
</head>
<body>

  <!-- input/text -->
  <div id="app1">
    <input type="text" v-model="val" @input="change"/>
    {{val}}
  </div>

  <!-- input/radio -->
  <div id="app2">
    <input type="radio" value="one" v-model="picke"/>
    <input type="radio" value="two" v-model="picke"/>
    {{picke}}
  </div>

  <!-- input/chckbox -->
  <div id="app3">
    <input type="checkbox" value="Amy" v-model="checked"/>
    <input type="checkbox" value="Jex" v-model="checked"/>
    <input type="checkbox" value="Drank" v-model="checked"/>
    {{checked}}
  </div>

  <!-- select -->
  <div id="app4">
    <select v-model="val">
      <option disabled>请选择</option>
      <option>Guangzhou</option>
      <option>Shanghai</option>
      <option>Beijing</option>
      <option>Shenzhen</option>
    </select>
    {{val}}
  </div>

  <script src="../../src/vue.js"></script>
  <script>
    let v1 = new Vue({
      el:'#app1',
      data:{
        val:''
      },
      methods:{
        change(e){
          this.val = e.target.value;
        }
      }
    })

    let v2 = new Vue({
      el:'#app2',
      data:{
        picke:''
      }
    })

    let v3 = new Vue({
      el:'#app3',
      data:{
        checked:[]
      }
    })

    let v4 = new Vue({
      el:'#app4',
      data:{
        val:''
      }
    })

  </script>
</body>
</html>